/*=============================================
ACERCA DE 
=============================================*/

.about-header{

	
	background : linear-gradient(90deg, rgba(0,156,137,0.8295693277310925) 4%, 
		                                rgba(0,166,157,1) 48%, rgba(111,187,177,1) 93%, 
		                                rgba(111,187,177,1) 100%);
	padding    : 2rem;

	&__container{

		justify-content : space-between;
		align-items     : center;
		margin-top      : 2rem;


	}

	.about-header__title{

		color       : #fff;
		font-size   : var(--body-font-size );
		font-family : $font-main;
		font-weight : 500;

		@include from(lg){

			font-size   : var(--h3-font-size );

		}

	}

	.breadcrumb {

  		margin-top: -5px;

  		li {

		  display        : inline;
		  font-size      : var( --small-font-size);
		  text-transform : none;
		  font-family    : $font-main;

		  @include from(lg){

			 	 text-transform : uppercase;

			}

		  &+li:before {

			  padding : 5px;
			  color   : black;
			  content : "\00a0";

		  }

		  a {

			  color          : #fff;
			  text-transform : none;
			  font-size      : var( --small-font-size);
			  font-family    : $font-main;

			  @include from(lg){

			  	 text-transform : uppercase;

			  }

			  &:hover {

				  color       : #74698D;
				  font-weight : bold;
				 
				}

			}

 		} 		

	}

}

.about-app{

	background  : #fff;
	padding-top : 4rem;

	.about-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.about-image{

			@include from(lg){

				flex : 1 0 50%;

			}

		}

		.about-desc{

			&__subtitle{

				color       : $subtitle-color;
				font-size   : var(--body-font-size);
				font-family : $font-title;
				margin      : 0;

			}

			&__title{

				color       : #524D48;
				font-size   : var(--h2--font-size);
				font-family : $font-title;
				padding-top : .5rem;
				margin      : 0;

			}

			&__text{

				color       : #716B64;
				font-size   : var(--body-font-size);
				font-family : $font-main;
				padding-top : .5rem;
				line-height : 1.5rem;

			}

			@include from(lg){

				flex : 1 0 50%;

			}		

		}

	}

}

/*=============================================
TABS DE MISIÓN, VISIÓN Y VALORES
=============================================*/

.container-card{

	  max-width       : 100%;
  	width           : 100%;
  	position        : relative;
  	justify-content : space-around;
  	flex-wrap       : wrap;
  	transition      : 0.5s;
  	padding-top     : 4rem;
  	padding-bottom  : 4rem;

  	.card-item{

  		width           : 100%;
  		margin-bottom   : 1.5rem;
  		padding         : 2rem;
  		position        : relative;
  		width           : 250px;
		  height          : 300px;
		  background      : #fff;
		  display         :  flex;
		  justify-content : center;
		  align-items     : center;
		  transition      : 0.5s;

  		@include from(lg){

  			width  : calc(33.33% - 1rem);
  			margin : .5rem;

  		}

  		.card-content{

  			&__title{

  				font-size   : var(--h2-font-size);
  				font-family : $font-title;
  				color       : #524D48;
  				font-weight : 500;

  			}

  			&__text{

  				font-size   : var(--body--font-size);
  				font-family : $font-main;
  				color       : #716B64;

  			}

  		}

  	}

}

 .container-card .card-item:before {

  content    : "";
  position   : absolute;
  width      : 100%;
  height     : 100%;
  background : #fff;
  z-index    : 1;
  transition : 0.5s;

}

.container-card .card-item:hover:before {

  background : $primary-color;
  transform  : scaleY(1.15);
  box-shadow : 0 5px 15px rgba(0, 0, 0, 0.2);

}

.container-card .card-item:after {

  content    : "";
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 50%;
  height     : 100%;
  transition : 0.5s; 
  z-index    :  1;
  background : rgba(255, 255, 255, 0.1);

}

.container-card .card-item:hover:after {

  transform: scaleY(1.15);

}

.container-card .card-item:hover {

  z-index: 1;

}

.container-card .card-item .card-content {

  text-align : center;
  z-index    : 2;
  padding    : 0 20px;
  transition : 0.5s;

}

.container-card .card-item:hover .card-content .card-content__title {

  color : #fff;

}

.container-card .card-item:hover .card-content .card-content__text {

  color : #fff;

}

.container-card .card-item .card-content h2 {

  font-size   : var(--h3--font-size);
  font-family : $font-title;

}

.container-card .card-item .card-content {

  font-size : var(--body-font-size);

}

.container-card .card-item .card-content .card-content__list{


	 font-size   : var(--body-font-size);
	 font-family : $font-title;
	 color       : #716B64;

}

.container-card .card-item:hover .card-content .card-content__list{

  color : #fff;

}

/*=============================================
PORQUÉ ESCOGERNOS
=============================================*/

.choose-subtitle{

	background  : #fff;
	color       : $subtitle-color;
	font-size   : var(--body-font-size);
	font-family : $font-title;
	margin      : 0;
	padding-top : 2rem;

}

.choose-title{

	background  : #fff;
	color       : #524D48;
	font-size   : var(--h2--font-size);
	font-family : $font-title;
	padding-top : .5rem;
	margin      : 0;

}

.choose-app{

	background  : #fff;
	padding-top : 2rem;

	.choose-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.choose-list{

			padding : 2rem;

			@include from(lg){

				flex : 1 0 30%;

			}

			&__item{

				display         : flex;
				justify-content : center;
				align-items     : center;
				margin-bottom   : 1.5rem;

				.choose-block{

					&__title{

						font-family : $font-title;
						color       : #524D48;
						margin      : 0;
						padding-top : .5rem;

					}

					&__text{

						font-size   : var(--body-font-size);
						font-family : $font-main;
						padding-top : .5rem;


					}

				}

				.choose-number{

					position : relative;
					top      : 30px;
					left     : 10px;

					&__item{

						background     : $primary-color;
						color           : #fff;
						width           : 43px;
						height          : 43px;
						border-radius   : 50%;
						display         : flex;
						justify-content : center;
						align-items     : center;


					}
				}

			}

		}

		.choose-image{

			padding : 2rem;

			@include from(lg){

				flex : 1 0 25%;

			}

		}

		.choose-section{

			padding : 2rem;

			@include from(lg){

				flex : 1 0 30%;

			}

			.section-item{

				display         : flex;
				justify-content : center;
				align-items     : center;
				margin-bottom   : 1.5rem;

				.section-number{

					position : relative;
					top      : 30px;
					right    : 10px;

					&__item{

						background     : $primary-color;
						color           : #fff;
						width           : 43px;
						height          : 43px;
						border-radius   : 50%;
						display         : flex;
						justify-content : center;
						align-items     : center;

					}

				}

				.section-block{

					&__title{

						font-family : $font-title;
						color       : #524D48;
						margin      : 0;
						padding-top : .5rem;

					}

					&__text{

						font-size   : var(--body-font-size);
						font-family : $font-main;
						padding-top : .5rem;


					}

				}

			}

		}

	}

}