/*=============================================
BIENVENIDA
=============================================*/

.bienvenida-app{

	background : #fff;

	.bienvenida-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.aside-video{

			padding: 2rem;

			&__img{

				position : relative;

				i{

					position      	: absolute;
					top           	: 50%;
					left          	: 40%;
					transform     	: translate(-50%, -50%);
					background    	: #bbdc56;
					border-radius 	: 50%;
					width         	: 60px;
					height        	: 60px;
					color         	: #fff;
					font-size     	: 1.8rem;
					padding       	: 1rem;
					display       	: flex;
					justify-content : center;
					align-items     : center;


					@include from(lg){

						width  : 70px;
						height : 70px;

					}

					&:hover{

						background : darken(#bbdc56, 7);

					}

				}

				img{

					border-radius : 50%;

					width  : 300px;
					height : 300px;

					@include from(lg){

						width  : 400px;
						height : 400px;

					}

				}

			}

			@include from(lg){

				flex : 1 0 50%;

			}			

		}

		.bienvenida-info{

			padding         : 2rem;
			text-align      : center;
			display         : flex;
			flex-direction  : column;
			justify-content : center;
			align-items     : center;

			.bienvenida-subtitle{

				font-size : var(--body--font-size);
				color     : $subtitle-color;
				font-weight : 700; 
				margin    : 0;

			}	

			.bienvenida-title{

				font-size   : var(--h2--font-size );
				font-family : $font-title;
				color       : #524d48;
				margin     : 0;

			}

			.bienvenida-text{

				font-size   : var(--small--font-size );
				color       : #817c77;
				margin-top  : .3rem;
				line-height : 1.6;

			}	

			.bienvenida-phone{

				color      : $primary-color;
				font-size  : var(--h3-font-size);
				margin-top : .5rem;
			}	

			@include from(lg){

				flex : 1 0 50%;

			}
		}
	}
}