.button-primary{

	background : darken($primary-color, 15%);
    color      : #fff;    
    text-align: center;
    display    : inline-block;
    padding    : 10px 20px;
    cursor     : pointer;
    transition : ease .5s;   
    border: none;
    border-radius: 7px;  
    font-size: 16px; 
    margin-top: 1.5rem;

    &:hover{

		background : $primary-color;

    }


}