/*=============================================
CONTACTO
=============================================*/

.contacto-header{

    
    background : linear-gradient(90deg, rgba(0,156,137,0.8295693277310925) 4%, 
                                        rgba(0,166,157,1) 48%, rgba(111,187,177,1) 93%, 
                                        rgba(111,187,177,1) 100%);
    padding    : 3rem;

    &__container{

        justify-content : space-between;
        align-items     : center;
        margin-top      : 6rem;


    }

    .contacto-header__title{

        color       : #fff;
        font-size   : var(--body-font-size );
        font-family : $font-main;
        font-weight : 500;

        @include from(lg){

            font-size   : var(--h3-font-size);

        }

    }

    .breadcrumb {

        margin-top: -5px;

        li {

          display        : inline;
          font-size      : var( --small-font-size);
          text-transform : none;
          font-family    : $font-main;

          @include from(lg){

                 text-transform : uppercase;

            }

          &+li:before {

              padding : 5px;
              color   : black;
              content : "\00a0";

          }

          a {

              color          : #fff;
              text-transform : none;
              font-size      : var( --small-font-size);
              font-family    : $font-main;

              @include from(lg){

                 text-transform : uppercase;

              }

              &:hover {

                  color       : #74698D;
                  font-weight : bold;
                 
                }

            }

        }       

    }

}

.contacto-app{

    .contacto-main{

        display        : flex;
        flex-direction : column;

        @include from(lg){

             flex-direction: row;

        }

        .contacto-horario{
            
            padding    : 2rem;
            background : $primary-color;
            display    : flex;
            flex-direction : column;
            justify-content: center;
            align-items : center;


            @include from(lg){

                flex : 1 0 50%;

            }

            &__title{

                font-size   : var(--h3-font-size);
                color       : #fff; 
                font-family : $font-title;                

            }

            .contacto-info{

                display         : flex;
                flex-wrap       : wrap;
                justify-content : space-between;
                margin-bottom   : 1.5rem;
                width           : 100%;

                &__item{

                    width       : 100%;
                    color       : #fff;
                   
                    @include from(lg){

                        width  : calc(33.33% - 1rem);
                        margin : .5rem;

                    }

                    i{

                        margin-bottom : 2rem;
                        font-size     : 30px;

                    }

                    &--desc{

                        font-size      : var(--body-font-size);
                        font-family    : $font-title;
                        margin         : 0;
                      
                    }

                }                

            }

            .horario-atencion{

                &__title{

                    font-size   : var(--h3-font-size);
                    color       : #fff; 
                    font-family : $font-title;  
                    padding-top : 4rem;    

                   
                }

                &__block{

                    display         : flex;
                    color           : #fff;
                    font-family     : $font-title;
                    justify-content : center;

                    &--item{

                        font-size    : var(--body-font-size);
                        margin-right : 20px;

                        i{

                            margin-right: 10px;
                        }

                    }

                }

            }

            .redes-sociales{

                &__title{

                    font-size   : var(--h3-font-size);
                    color       : #fff; 
                    font-family : $font-title;
                    padding-top : 7rem;    

                                      

                }

                &__block{

                    display         : flex;
                    justify-content : center;
                    color           : #fff; 
                    font-family     : $font-title; 

                    &--item{

                        margin-right: 20px;

                        i{
                            margin-right: 10px;

                        }

                        a{

                            color : #fff;

                            &:hover{

                                color : $secondary-color;

                            }

                        }

                    }

                }
            }

        }

        .contacto-formulario{

            padding : 2rem;
            background :#fff;

            @include from(lg){

                flex : 1 0 50%;

            }

            &__title{

                 font-size   : var(--h3-font-size);
                 font-family : $font-title;
            }

            input, select, textarea{

                width         : 100%;
                margin-bottom : 1.8rem;
                color         : #8b8b8b;               
                background    : #f7f5f0;
                padding       : 1.6em 1.4em;
                border        : 1px solid #ddd;
                font-family   : $font-main;
                line-height   : 1.2em;
                border-radius : 0.625rem;

                &:hover{

                    color        : #1d1d1d;
                    border-color : #daad86;
                    background   : #f7f5f0;                  

                }

                &:focus{

                    outline: none;

                }

                


            }           

        }

    }

}