/*=============================================
GALERÍA
=============================================*/

.galeria{

	background : #fff;
	padding-top : 2rem;
	padding-bottom : 2rem;


	&-title{

		font-size   : var(--h2--font-size);
		font-family : $font-title;

	}

}	

.galeria-container{

	background     : #fff;
	flex-wrap      : wrap;
	padding-bottom : 2rem;

	.galeria-item{

		width         : calc(50% - 2em);
		margin        : 1em;
		overflow      : hidden;
		border        : 1px solid $primary-color;
		border-radius : 7px;
		cursor        : pointer;

		@include from(lg){

			width  : calc(25% - 2em);
			margin : 1em;

		}

		img{

			width      : 100%;
			height     : 291px;
			object-fit : cover;
			display    : block;
			transition : all .2s;

		}

		&:hover{

			img{

				transform  : scale(1.3) rotate(-5deg);
				transition : all .2s;

			}

		}

	}

}



