/*=============================================
TOP
=============================================*/

.top {

	background      : #fff;	
	padding-top     : 1rem;	
	justify-content : space-around;
	border-bottom   : 1px solid rgba(#c0bebd, .5);

	.top-title{

		color: #524d48;
	}

	.top-called{

		font-size: var(--small-font-size );

		.text-color {

			color : $primary-color;

		}

	}

	.top-visited{

		font-size: var(--small-font-size );

		.text-color {

			color : #c0bebd;

		}
		
	}

	.top-redesSociales{
		

		a{
			
			margin-left: .5rem;

			i{

				background 		: $secondary-color;
				color      		: #fff;
				width      		: 20px;
				height     		: 20px;
				border-radius   : 50%;
				font-size  		: 10px;
				display    		: flex;
				float      		: left;
				justify-content : center;
				align-items     : center;
				margin-left     : .5rem;

				&:hover {
				
					background: $primary-color;;

				}	
				
			}

		}

	}

}

/*=============================================
HEADER
=============================================*/

.main-header{

	align-items     : center;
	justify-content : space-between;
	background      : #fff;

	.logo{

		img{

       		width: 40%;

        }

	}

	.navbar{

		&-menu{

			&__item{

				position : relative;
				float    : left;

				.navbar-menu__link{

					font-family    : $font-main;
					text-transform : uppercase;
					padding        : 20px;
					color          : #524d48;
					display        : block;

					&:hover{

					  color       : $primary-color;
                      font-weight  : bold;

					}
				}

			}

		}

	}

}

/*=============================================
SUBMENU
=============================================*/

.main-header .navbar ul li ul{

	position   : absolute;		
	z-index    : 1000;
	background : #fff;	
	display    : none;
	width      : 300px;

}

.main-header .navbar ul li ul li{

	width   : 100%;
	padding : 1rem;
	font-size : 18px;	

}

.main-header .navbar ul li ul li a{

	margin      : -30px;
	color       : #000;
	font-family : $font-main;
	display     : block;
	
	&:hover{

		color : $primary-color;

	}
	
}

.main-header .navbar ul li:hover > ul{

	display: initial;

}