/*=============================================
PROMOCIONES
=============================================*/

.promociones {

	&-title{

		font-size   : var(--h2--font-size);
		font-family : $font-title;
		color       : #524d48;
	}

	&-container{

		flex-wrap: wrap;
		width: 100%;

		.promociones-item{

			margin-bottom : 1.5rem;				
			width         : 100%;

			@include from(lg){

				width  : calc(33.33% - 1rem);
				margin : .5rem;

			}

		}

	}
}

article{

	position : relative;


}


.hover-effect::before {

    right   : 0;
    opacity : 0.7;
    top     : 0;

}

.hover-effect::after {

    bottom  : 0;
    opacity : 0.7;
    left    : 0;

}

.hover-effect::before, .hover-effect::after {

    content             : "";
    background          : #fff;
    height              : 0;
    width               : 0;
    z-index             : 1;
    position            : absolute;   
    transition-duration : 1.3s !important;

}

.hover-effect:hover::after, .hover-effect:hover::before {

    height  : 100%;
    opacity : 0;
    width   : 100%;

}

