/*=============================================
VETERINARIOS
=============================================*/

.veterinarios{
	
	padding-top : 2rem;

	&-subtitle{

		color       : $subtitle-color;
		font-size   : var(--small--font-size);
		font-family : $font-title;
		margin      : 0; 

	}

	&-title{

		font-size   : var(--h2--font-size);
		font-family : $font-title;
		padding-top : .5rem;
		margin      : 0;

	}

}

.imagen-equipo{

	padding-top: 2rem;	

	img{

		width         : 80%;
		height        : 410px;
		border-radius : 7px;

		@include from(lg){

			width  : 25%;
			height : 410px;

		}

	}

}

.veterinarios-container{

	flex-wrap       : wrap;
	justify-content : space-between;
	width           : 100%; 
	text-align      : center;
	margin-bottom   : 1.5rem;

	.veterinarios-item{

		margin-bottom : 1.5rem;		
		padding       : 2rem;
		width         : 100%;		

		@include from(lg){

			width  : calc(50% - 1rem);
			margin : .5rem;

		}

		&__info{

			.veterinario-nombre{

				font-size   : 21px;
				font-family :  $font-title;
				padding-top : 1rem;
				color       : #524d48;
				margin      : 0;

			}

			.veterinario-especialista{

				font-size   : var(--small--font-size);
				padding-top : .8rem;
				font-family : $font-title;
				color       : #daad86;

			}

			.veterinarios-text{

				font-size   : var(--body-font-size);
				font-family : $font-main;
				color       : #716864;

			}

		}

	}

	i{

		font-size   : 5rem;
		font-weight : normal;

	}

}

/*=============================================
INFORMACIÓN DEL EQUIPO
=============================================*/

.equipo-app{

	background  : #fff;
	margin-top : 7rem;

	.equipo-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.equipo-aside{

			padding : 2rem;

			

			@include from(lg){

				flex : 1 0 50%;

			}

			&__info{

				background : #F2F2EB;
				padding    : 2rem;

				&--name{

					font-size   : 25px;
					font-family : $font-title;
					margin      : 0; 

				}

				&--code{

					text-align   : center;
					padding-top  : .2rem;
					font-family : $font-main;

				}

				&--desc{

					font-family : $font-main;

					span{

						font-size   : 18px;	
						font-weight : bold;					

					}

					p{

						padding-top : 1rem;
						font-size   : var(--body-font-size);

					}
				}

			}

		}

		.equipo-info{

			padding : 2rem;

			@include from(lg){

				flex : 1 0 50%;

			}

			&__title{

				font-family : $font-title;
				font-size   : 22px;

			}

			&__list{
				
				font-family : $font-main;
				margin      : 0;
				padding     : 0; 

				.equipo-info--item{

					margin-bottom : 1rem;

					i{

						font-size : 10px;

					}

				}

			}
		}

	}

}
